# Mac Noise
.DS_Store

# Compile output
/build/

# Eclipse compile output
/bin/
/build-cache/

# TODO - this the output folder when ant unzips one of the libs.
# All the other libs are currently directories but in the future they should be zips.
# The ant should use a shared output folder for unzipping which should be ingnored here.
/contrib/testng-6.1.1/

# Test folders
/test/unittests/test-output/

# Splunk package folder
/put-splunk-tgz-here/*

# Downloads
/contrib/hadoop.tar.gz
