<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
	<parameter name="splunk.username" value="admin" />
	<parameter name="splunk.password" value="changeme" />
	<parameter name="splunk.host" value="localhost" />
	<parameter name="splunk.mgmtport" value="8089" />

	<test name="Test" preserve-order="true">
		<classes>
			<class name="com.splunk.shep.testutil.MethodCallerHelperTest" />
			<class name="com.splunk.shep.testutil.HadoopFileSystemPutterTest" />
			<class name="com.splunk.shep.testutil.UtilsPathTest" />
			<class name="com.splunk.shep.mapred.lib.rest.util.ContentReaderTest" />
			<class name="com.splunk.shep.mapred.lib.rest.util.ReaderWrapperTest" />
			<class name="com.splunk.shep.mapred.lib.rest.SplunkXMLStreamTest" />
			<class name="com.splunk.shep.mapred.lib.rest.SplunkOutputFormatTest" />
			<class name="com.splunk.shep.mapred.lib.rest.SplunkInputFormatTest" />
			<class name="com.splunk.shep.mapred.lib.rest.SplunkEventsInputFormatTest" />
			<class name="com.splunk.shep.customsearch.InputHdfsLocalTest" />
			<class name="com.splunk.shep.customsearch.OutputHdfsLocalTest" />
			<class name="com.splunk.shep.archiver.archive.ArchiveConfigurationTest" />
			<class name="com.splunk.shep.archiver.archive.BucketArchiverTest" />
			<class name="com.splunk.shep.archiver.archive.BucketFreezerTest" />
			<class name="com.splunk.shep.archiver.fileSystem.FileOverwriteExceptionTest" />
			<class name="com.splunk.shep.archiver.fileSystem.HadoopFileSystemArchiveTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
