# Copyright (C) 2005-2011 Splunk Inc. All Rights Reserved.  Version 4.3.1
# log.cfg
# This file contains the debugging output controls
# Customers can change debugging levels as needed with output going to
# $SPLUNK_HOME/var/log/splunk/splunkd_std...
[splunkd]
rootCategory=WARN,A1
category.TailingProcessor=INFO
category.WatchedFile=INFO
category.ArchiveProcessor=INFO
category.BatchReader=INFO
category.AuthenticationManagerLDAP=INFO
category.databasePartitionPolicy=INFO
category.DatabaseDirectoryManager=INFO
category.IndexProcessor=INFO
category.DiskMon=INFO
category.BucketMover=INFO
category.DeploymentServer=WARN
category.DeploymentClient=WARN
category.DeployedApplication=INFO
category.PackageDownloadRestHandler=INFO
category.DistributedMgr=INFO
category.HotDBManager=INFO
category.KeyManagerLocalhost=INFO
category.KeyManagerSearchPeers=INFO
category.KeyManagerSettings=INFO
category.LicenseManager=INFO
category.PipelineComponent=INFO
category.ProcessTracker=INFO
category.QueryLanguageParser=WARN
category.ServerConfig=INFO
category.OnlineFsck=INFO
category.Fsck=INFO
category.ShutdownHandler=INFO
category.splunklogger=INFO
category.StreamGroup=INFO
category.TcpOutputProc=INFO
category.TcpInputProc=INFO
category.ThruputProcessor=WARN
category.timeinvertedIndex=INFO
category.UDPInputProcessor=INFO
category.ViewstateReaper=INFO
category.WinEventLogAgent=INFO
category.WinEventLogInputProcessor=INFO
category.WinEventLogChannel=INFO
category.WinEventLog=INFO
category.AdminHandler:WinPdfServer=INFO
# Needed for the windows scripted inputs
category.ExecProcessor=INFO
# Licence Mgr stuff
category.LicenseMgr=INFO
category.LMAdminHandlerLicenses=INFO
category.LMAdminHandlerMessages=INFO
category.LMAdminHandlerMeta=INFO
category.LMAdminHandlerPools=INFO
category.LMAdminHandlerSlaves=INFO
category.LMAdminHandlerTracker=INFO
category.LMApplyResponse=INFO
category.LMConfig=INFO
category.LMDirective=INFO
category.LMHttpUtil=INFO
category.LMLicense=INFO
category.LMMasterRestHandler=INFO
category.LMMessageMgr=INFO
category.LMPool=INFO
category.LMRows=INFO
category.LMSlaveInfo=INFO
category.LMStack=INFO
category.LMStackMgr=INFO
category.LMTracker=INFO
category.LMTrackerDb=INFO
category.LMUtil=INFO
category.LMViolation=INFO
category.PipeFlusher=INFO
category.VolumeManager=INFO
# leave loader at INFO!  this is what gives us our build + system info...
category.loader=INFO
category.ulimit=INFO
category.TPool=INFO
category.MPool=INFO
#category.sample=WARN
#category.sample2=INFO
#category.sample3=INFO
#category.IChannel=INFO
#category.TcpChannel=INFO
#category.SpreadMessageHandler=INFO
#category.SOAPSearchMessageDispatcher=WARN
#
# we're not sending stuff to the console anymore
# now that we're daemonized.
#
appender.rootAppender=ConsoleAppender
appender.rootAppender.layout=PatternLayout
appender.rootAppender.layout.ConversionPattern=%d{%m-%d-%Y %H:%M:%S.%l %z} %-5p %c - %m%n
# if these log files are getting too big for your liking, turn down the maxFileSize.
# it's best to not make them too small, however, because these logs can be very
# useful in troubleshooting.
appender.A1=RollingFileAppender
appender.A1.fileName=${SPLUNK_HOME}/var/log/splunk/splunkd.log
appender.A1.maxFileSize=25000000 # default: 25MB (specified in bytes).
appender.A1.maxBackupIndex=5
appender.A1.layout=PatternLayout
appender.A1.layout.ConversionPattern=%d{%m-%d-%Y %H:%M:%S.%l %z} %-5p %c - %m%n
###
### DO NOT USE APPENDER A3!
###
### This used to be used for splunklogger.log, which has gone away.  We don't
### want user settings for the old splunklogger to inadvertently take effect
### on whatever A3 ends up being used for...
### 
### appender.A3.fileName=${SPLUNK_HOME}/var/log/splunk/splunklogger.log
###
appender.license_usage=RollingFileAppender
appender.license_usage.fileName=${SPLUNK_HOME}/var/log/splunk/license_usage.log
appender.license_usage.maxFileSize=25000000 # default: 25MB (specified in bytes).
appender.license_usage.maxBackupIndex=5
appender.license_usage.layout=PatternLayout
appender.license_usage.layout.ConversionPattern=%d{%m-%d-%Y %H:%M:%S.%l %z} %-5p %c - %m%n
category.LicenseUsage=INFO,license_usage
appender.A4=RollingFileAppender
appender.A4.fileName=${SPLUNK_HOME}/var/log/splunk/searchhistory.log
appender.A4.maxFileSize=25000000 # default: 25MB (specified in bytes).
appender.A4.maxBackupIndex=5
appender.A4.layout=PatternLayout
appender.A4.layout.ConversionPattern=%d{%m-%d-%Y %H:%M:%S.%l %z} %-5p %c - %m%n
category.SearchHistory=INFO, A4
# metrics spews a lot of logs, let's not pollute the other files.
appender.metrics=RollingFileAppender
appender.metrics.fileName=${SPLUNK_HOME}/var/log/splunk/metrics.log
appender.metrics.maxFileSize=25000000 # default: 25MB (specified in bytes).
appender.metrics.maxBackupIndex=5
appender.metrics.layout=PatternLayout
appender.metrics.layout.ConversionPattern=%d{%m-%d-%Y %H:%M:%S.%l %z} %-5p %c - %m%n
category.Metrics=INFO,metrics
category.StatusMgr=INFO,metrics
category.DeploymentMetrics=INFO,metrics
# audit logs go a separate file
appender.audittrail=RollingFileAppender
appender.audittrail.fileName=${SPLUNK_HOME}/var/log/splunk/audit.log
appender.audittrail.maxFileSize=25000000 # default: 25MB (specified in bytes).
appender.audittrail.maxBackupIndex=5
appender.audittrail.layout=PatternLayout
appender.audittrail.layout.ConversionPattern=%d{%m-%d-%Y %H:%M:%S.%l %z} %-5p %c - %m%n
category.AuditLogger=INFO,audittrail
#Licence Audit
appender.licenseaudit=RollingFileAppender
appender.licenseaudit.fileName=${SPLUNK_HOME}/var/log/splunk/license_audit.log
appender.licenseaudit.layout=PatternLayout
appender.licenseaudit.layout.ConversionPattern=%d{%m-%d-%Y %H:%M:%S.%l} %-5p %c - %m%n
category.LicenseManager-Audit=INFO,licenseaudit
#splunkd http server acccess log
appender.accesslog=RollingFileAppender
appender.accesslog.fileName=${SPLUNK_HOME}/var/log/splunk/splunkd_access.log
appender.accesslog.maxFileSize=25000000 # default: 25MB (specified in bytes).
appender.accesslog.maxBackupIndex=5
appender.accesslog.layout=PatternLayout
appender.accesslog.layout.ConversionPattern=%m%n
category.HTTPAccess=INFO,accesslog
#splunkd search scheduler log
appender.scheduler=RollingFileAppender
appender.scheduler.fileName=${SPLUNK_HOME}/var/log/splunk/scheduler.log
appender.scheduler.maxFileSize=25000000 # default: 25MB (specified in bytes).
appender.scheduler.maxBackupIndex=5
appender.scheduler.layout=PatternLayout
appender.scheduler.layout.ConversionPattern=%d{%m-%d-%Y %H:%M:%S.%l %z} %-5p %c - %m%n
category.SavedSplunker=INFO,scheduler
#
# define splunk python logging properties
#
# logging classes are defined by a logging declaration at the log of each
# file.
#
# 	splunk
# 	splunk.appserver
# 	splunk.search
#
[python]
splunk = INFO
splunk.appserver = INFO
splunk.appserver.controllers = INFO
splunk.appserver.lib = WARN
