body {
    background: none no-repeat scroll 0 0 #F7F7F7;
    color: #333333;
    font-family: Helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}
p {
    margin-bottom: 10px;
    margin-top: 10px;
}
a {
    /*color: #2F76A7;*/
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 200px;
  display: inline-block; 
  position: relative;
}
a:hover { 
    text-shadow:
    1px 1px 0 #FF0000,
    2px 2px 0 #FF7F00,
    3px 3px 0 #FFFF00,
    4px 4px 0 #7FFF00,
    5px 5px 0 #00FF00,
    6px 6px 0 #00FF7F,
    7px 7px 0 #00FFFF,
    8px 8px 0 #007FFF,
    9px 9px 0 #0000FF,
    10px 10px 0 #7F00FF; 
    11px 11px 0 #FF00FF; 
    10px 10px 0 #FF007F; 
}
.preview, button, a.actionButton {
    background: #EAF1F6 url("overlay_topgradient_white.png");
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: black;
    display: inline-block;
    height: auto;
    line-height: 19px;
    margin-top: 0;
    padding: 2px 18px 0 10px;
}
.preview, button, a.actionButton, a.actionButton:hover {
    text-decoration: none;
}
.preview:hover, button:hover, a.actionButton:hover {
    background-color: #DEE9F1;
}
code {
    background: none repeat scroll 0 0 #EAF1F6;
    border: 1px solid #BAD1E2;
    padding: 0 5px;
}
.splClearfix {

}
.splClearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#archiver {
    margin-left: 20px;
    top: 110px;
}
#archiver h1 {
    color: #2B6D9A;
    font-size: 24px;
}
.pageDesc {
    color: #666666;
    margin-bottom: 30px;
}
ul.steps {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.steps li.step {
    margin-bottom: 30px;
    width: 560px;
}
ul.steps li.step ul {
    padding-left: 30px;
}
ul.steps li.step li {
    list-style-type: square;
}
ul.steps li.step.lastStep {
    border-top: 1px solid #333333;
}
.stepHeader {
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    margin-right: 20px;
}
.stepContent {
    float: left;
    width: 500px;
}
.stepContent h2 {
    border-bottom: 1px solid #333333;
    margin: 0 0 10px;
    padding-bottom: 2px;
}
.stepContent h3 {
    margin: 15px 0 0;
}
.errorText {
	background: #fae7e7 url(images/icon_error.png) 10px 10px no-repeat;
	padding: 10px 10px 10px 44px;
}
.dynamic-text {
    margin: 5px;
    width: 250px;
}
div.searchBox textarea {
    float: left;
    margin: 0 0 10px 0;
    width: 100%;
}
div.formError textarea {
    border:1px solid #d11212;
}
div.searchBox button {
    font-size: 12px;
    margin: 5px 5px 0 0;
}
div.searchBox dd, div.searchBox dd input {
	margin-left:0;
}


input.splButton-primary {
    background: url("overlay_gloss_28.png") repeat-x scroll left -2px #2B6D9A;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-size: 12px;
    margin-left: 47px;
    margin-top: 10px;
    padding: 3px 0;
    width: 100px;
}
