/* Default style */
body {
    font-family: Helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
p {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Archiver specific */
.pageDesc {
    color: #666666;
    margin-bottom: 30px;
}
#archiver, #flusher {
    margin: 20px;
    line-height: 150%;
    height: 500px;
}
#archiverPage, #bucketsPage, #thawedPage, #flushPage {
    width: 100%;
}
h1 {
    color: #2B6D9A;
    font-size: 24px;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* Datepicker */
img.ui-datepicker-trigger {
    vertical-align: sub;
}

/* Tables, rows/data and lists */
.table {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.id {
    display: table-cell;
    width: 10%;
    min-width: 100px;
    vertical-align: top;
}
.id:after{
    content: ":";
}
.data {
    display: table-cell;
    min-width: 300px;
}
#data-size {

}
.generated-tables table {
    margin-bottom: 20px;
}
table.tablesorter {
    line-height: 100%;
    width: auto;
    margin-top: 0px;
}
table.tablesorter tr td {
    word-wrap: break-word;
    word-break: break-all;
}
table.tablesorter thead tr .header {
    padding-right: 20px; /* tablesorter bug-fix: to small column-data will make the sorter icon overlap the column text */
}

/* Form */
input.datetime-input { 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
}
.button {
    background: #2B6D9A url(/static/img/skins/default/overlay_gloss_28.png) repeat-x left -3px;
    border: medium none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    padding: 3px 5px 3px 5px;
    min-width: 100px;
    min-height: 25px;
}
.button:hover {
    background-color: #3A7DAB;
}
.button:active {
    background-color: #42799E;
    color: #ddd;
}
input.disabled, input.button[disabled="disabled"] {
    background-color: #ddd;
    color: #EDEDED;
}
input.disabled:hover, input.button:hover[disabled="disabled"] {
    background-color: #ddd;
    color: #EDEDED;
}
input.disabled:active, input.button:hover[disabled="disabled"] {
    background-color: #ddd;
    color: #EDEDED;
}

/* Properties */
.noAfter:after {
    content: "";
}
.border {
    border: 1px solid;
}
.hidden {
    display: none;
}

/* Thaw-button */
.thaw.button, .flush.button {
    background-color: #FFC830;
}
.thaw.button:hover, .flush.button:hover {
    background-color: #FFD45E;
}
.thaw.button:active, .flush.button:active {
    background-color: #DBAD30;
}

/* Loading */
.loading, .loadingBig {
    text-indent: -3000px;
    overflow: hidden; /* IE what else to say */
    height: 16px;
    background-image: url(images/loading/loader_blue.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
.loadingBig {
    height: 32px;
    background-image: url(images/loading/loader_white.gif);
}
.search.loading {
}
.thaw.loading, .flush.loading {
    background-image: url(images/loading/loader_blue_on_grey.gif);
}

/* Errors */
input.datetime-input.error {
    background-color: #FFCCCC;
}
label.error {
    font-size: 10px;
    color: #FFA8A8;
    margin-left: 5px;
}
.error, .error * {
    line-height: 100%;
    color: red;
}

/* Debug */
#post-message {
    margin: 10px;
    border: 1px dotted #999;
}

code {
    background: none repeat scroll 0 0 #EAF1F6;
    border: 1px solid #BAD1E2;
    padding: 0 5px;
}
