<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%namespace name="helpers" file="//view/_helpers.html" import="*"/>
<%!
    import logging
    logger = logging.getLogger('splunk.module.archiving')
%>

<%def name="custom_css()">
    <%lib:stylesheet_tags files="${['/static/app/shep/archiver.css']}" />
    <%lib:script_tags files="${['/static/app/shep/archiver.js']}" />
</%def>

<%def name="gen_form(method='POST', action=None)">
    <form  method="${method}"  action="${action if action else ''}">
</%def>

<%def name="gen_select(indexes)">
    <div class="styled-select">
    <select class="indexes">
        <option value="all">All</option>
      % for index in indexes:
        <option value="${index}">${index}</option>  
      % endfor
    </select>
    </div>
</%def>

<%def name="gen_table_option_row(id=None, data=None, row=None)">
  <div class="row">
    % if row is not None:
      ${row}
      </div>
      <% return "" %>
    % elif callable(getattr(caller, "row", None)):
      ${caller.row()}
      </div>
      <% return "" %>
    % endif

    % if id is not None:
      <div class="id">${id}</div>
    % elif callable(getattr(caller, "id", None)):
      <div class="id">
        ${caller.id()}
        ##<br/ >DEBUG: ${dir(caller)}
        ##<br/ >${vars(caller)} ---- ${callable(getattr(caller, "id", None))}  ----  ${caller.id()}
      </div>
    % else:
      <div class="id noAfter"></div>
    % endif

    % if data is not None:
      <div class="data">${data}</div>
    % elif callable(getattr(caller, "data", None)):
      <div class="data">${caller.data()}</div>
    % else:
      <div class="data"></div>
    % endif

  </div>
</%def>

<div id="archiver">
  <!-- <p class="pageDesc"></p> -->
  <!-- ${gen_form(method="POST", action=make_url(['custom', 'webintelligence', 'WISetup', 'save']))} -->
  <form name="search-thaw-buckets" id="search-thaw-buckets-form">

  ##<input type="hidden" name="splunk_form_key" value="${util.getFormKey()|h}" />
  ${csrf_hidden_input()}

  <div id="archiverPage">
    <div class="table">
      ##${gen_table_option_row(id="Index", data="${gen_select(indexes)}")}
      ##<%self:gen_table_option_row id="Index" data=${gen_select(indexes)} />
      <%self:gen_table_option_row id="Index">
        <%def name="data()">${gen_select(indexes)}</%def>
      </%self:gen_table_option_row>
      <%self:gen_table_option_row id="Time Range">
        <%def name="data()">
          <table>
            <tr>
              <td>From:</td>
              <td> <input id="from-datetime-input" class="datetime-input" type="datetime" name="From" value="" placeholder="i.e. 2012-04-05"> </td>
            </tr>
            <tr>
              <td>To:</td>
              <td> <input id="to-datetime-input" class="datetime-input" type="datetime" name="To" value="" placeholder="i.e. 2012-05-20"> </td>
            </tr>
          </table>
        </%def>
      </%self:gen_table_option_row>
      <%self:gen_table_option_row id="Data size">
        <%def name="data()">
          <div id="data-size"></div>
        </%def>
      </%self:gen_table_option_row>
      <%self:gen_table_option_row id="Buckets">
        <%def name="data()">
          <div id="bucket-table" class="table"></div>
        </%def>
      </%self:gen_table_option_row>
      <%self:gen_table_option_row>
        <%def name="data()">
          <input id="search-thaw-button" class="disabled search button" type="button" value="Search for buckets in range">
        </%def>
      </%self:gen_table_option_row>
      <input id="enable-button" class="button" type="button" value="enable">
    </div>
  </div>

  <hr />

  <div id="thawedPage">
    <div class="table hidden">
      ${gen_table_option_row(id="Thawed data", data="")}
    </div>
  </div>

  </form>
</div>
