## Parameters used:
##
## tables: a dictionary with the tables to create
## I.e. tables={ 'bucket':['header1': "data"], ... }
##
## errors: A list of errors to show
## I.e. errors=[ 'A error:', 'A error description' ]
##
## settings: Unused
##
<%page expression_filter="h"/>
<%inherit file="//layout/base.html" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%namespace name="helpers" file="//view/_helpers.html" import="*"/>
<%!
  import logging
  logger = logging.getLogger('splunk.module.archiving')
  
  import re
  headerReg = re.compile('^\w+(_HEADER){1}$')
  titleReg = re.compile('^\w+(_TITLE){1}$')
  noDataMsgReg = re.compile('^\w+(_NO_DATA_MSG){1}$')
  totalSizeReg = re.compile('^\w+(_TOTAL_SIZE){1}$')

  def isSpecial(tableNameStr):
    return isHeader(tableNameStr) or isTitle(tableNameStr) or isNoDataMsg(tableNameStr) or isTotalSize(tableNameStr)
  def isHeader(tableNameStr):
    return headerReg.match(tableNameStr)
  def isTitle(tableNameStr):
    return titleReg.match(tableNameStr)
  def isNoDataMsg(tableNameStr):
    return noDataMsgReg.match(tableNameStr)
  def isTotalSize(tableNameStr):
    return totalSizeReg.match(tableNameStr)
%>

<%def name="gen_tables(tables, errors=None, settings={})">
  <div class="generated-tables">
    
    ## Display errors
    % if errors:
      <div class="error">
        % for error in errors:
          ${str(error)|n}
          <br />
        % endfor
      </div>
    % endif

    % if tables and len(tables):
      <%
        ## Init super-header
        superHeader = tables.get('SUPER_HEADER')
      %>
      % for tableK, tableV in tables.iteritems():
        <% 
          logger.debug('\n  tableName: %s \n  (%s) \n  tableVal: %s \n  (%s)' % (tableK, type(tableK), tableV, type(tableV)))

          ## Should not generate tables for headers, titles and no-data-messages.
          if isSpecial(str(tableK)):
            continue
          
          ## Get table title
          tableTitle = tables.get('%s_TITLE' % str(tableK), "")

          ## NO_DATA_MSG
          noDataMsg = tables.get('%s_NO_DATA_MSG' % str(tableK))

          ## Get total size of table elements.
          tableTotalSize = tables.get('%s_TOTAL_SIZE' % str(tableK))
        %>
        % if noDataMsg or len(tableV):
          <div id="${tableK}-title" class="title">${tableTitle}</div>
        % endif
        <div id="${tableK}-table-total-size" class="setting" style="display: none;">
        % if tableTotalSize:
           ${tableTotalSize}
        % endif
        </div>
        % if noDataMsg and not len(tableV): 
          <table id="${tableK}-table" class="error">
            <tr><td>
              ${str(noDataMsg)|n}
            </td></tr>
          </table>
        % endif

        <%
          ## Table header
          tableHeader = None
          ## Set super header if one exist
          if superHeader:
            tableHeader = superHeader
          ## Set defult header if input data seems correct (contains a list of dicts with keys and values)
          if len(tableV) and not superHeader:
            tmpHeader = {}
            for item in tableV:
              tmpHeader = item.viewkeys() | tmpHeader     # union of all keys
            tableHeader = dict(zip(tmpHeader, tmpHeader)) # {'key': 'key', ...}
          ## Set custom header
          tmpHeader = tables.get('%s_HEADER' % str(tableK))
          if tmpHeader:
            tableHeader = tmpHeader
          logger.debug('tableHeader: %s' % tableHeader)
        %>
        % if len(tableV):
          <table id="${tableK}-table" class="tablesorter">
            <thead>
              <tr>
                % for key in tableHeader:
                  <th>${tableHeader[key]}</th>
                % endfor
              </tr>
            </thead>
            <tbody>
              % for row in tableV:
                <tr>
                  % for key in tableHeader:
                    <td>${row.get(key, '')}</td>
                  % endfor
                </tr>
              % endfor
            </tbody>
          </table>
          <div id="${tableK}-pager" class="pager"></div>
          <script type="text/javascript">
            $("#${tableK}-table").tablesorter()
            ## .tablesorterPager({container: $("#${tableK}-pager")}) 
          </script>
        % endif
        <% logger.debug('gen_tables: K=%s, V=%s' % (tableK, tableV)) %>
      % endfor
    % endif

  </div>
</%def>


${ gen_tables( tables=context['tables'], errors=context['errors'] ) }

